<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Travel App</title>
  {% load static %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
  <h1>Travel App</h1>
  <div class="search">
    <input type="text" id="search" placeholder="Search for a trip">
    <button id="search-btn">Search</button>
  </div>
  <div class="container">
    <div class="left-column">
      <div id="text-bar"></div>
    </div>
    <div class="right-column">
      <div id="map"></div>
    </div>
  </div>
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
  <script src="{% static 'js/app.js' %}"></script>
</body>

</html>